.portrait-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 2rem;
  width: 95vw;
}

.portrait-container img {
  height: 225px;
}

.portrait-img-container {
  margin-right: 1rem;
}

.large-square-portrait {
  height: 450px !important;
  width: 400px;
}

.large-portrait {
  height: 450px !important;
  width: 300px;
}

.landscape-portrait {
  height: 450px !important;
  width: 650px;
}
