.portrait-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 2rem;
  width: 100%;
  border-top: 2px solid #000;
  padding-top: 10px;
  justify-content: space-between;
}

.portrait-container img {
  height: 225px;
  border: 1px solid #000;
}

.portrait-img-container {
}

.large-square-portrait {
  height: 450px !important;
  width: 400px;
}

.large-portrait {
  height: 450px !important;
  width: 300px;
}

.landscape-portrait {
  height: 450px !important;
  width: 650px;
}
