.street-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 2rem;
  justify-content: space-between;
}

.street-container img {
  height: 225px;
  border: 1px solid #000;
}

.street-img-container {
}

.large-square-street {
  height: 450px !important;
  width: 400px;
}

.large-street {
  height: 450px !important;
  width: 300px;
}

.landscape-street {
  height: 450px !important;
  width: 650px;
}
